


@-webkit-keyframes waves {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes waves {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes waves {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#waves{
  -webkit-animation: waves 30s ease infinite;
  -moz-animation: waves 30s ease infinite;
  animation: waves 30s ease infinite;
}

#waves2{
  -webkit-animation: waves 5s linear infinite alternate;
  -moz-animation: waves 5s linear infinite alternate;
  animation: waves 5s linear infinite alternate;
}

#waves3{
  -webkit-animation: waves 6s linear infinite alternate;
  -moz-animation: waves 6s linear infinite alternate;
  animation: waves 6s linear infinite alternate;
}

@-webkit-keyframes canoe {
  from{
    transform: rotate(2deg);
  }
  to{
    transform: rotate(-2deg);
  }
}
@-moz-keyframes canoe{
  from{
    transform: rotate(2deg);
  }

  to{
    transform: rotate(-2deg);
  }
}
@keyframes canoes{
  from{
    transform: rotate(2deg);
  }

  to{
    transform: rotate(-2deg);
  }
}

#canoeCutout{
  -webkit-animation: canoe 2s linear infinite alternate;
  -moz-animation: canoe 2s linear infinite alternate;
  animation: canoe 2s linear infinite alternate;
}

@-webkit-keyframes bike {
  from{
    transform: rotate(5deg);
  }
  to{
    transform: rotate(-5deg);
  }
}
@-moz-keyframes bike{
  from{
    transform: rotate(5deg);
  }

  to{
    transform: rotate(-5deg);
  }
}
@keyframes bike{
  from{
    -webkit-transform: rotate(8deg) skewY(-5deg);
    -moz-transform: rotate(8deg) skewY(-5deg);
    transform: rotate(8deg) skewY(-5deg);



  }

  to{
    -webkit-transform: rotate(-8deg) skewY(5deg);
    -moz-transform: rotate(-8deg) skewY(5deg);
    transform: rotate(-8deg) skewY(5deg);
  }
}


#biker{
  -webkit-animation: bike 2s linear infinite alternate;
  -moz-animation: bike 2s linear infinite alternate;
  animation: bike 2s linear infinite alternate;
}

@-webkit-keyframes spin {
  from{-webkit-transform: rotate(0deg);}
  to{-webkit-tranform: rotate(360deg);}
}
@-moz-keyframes spin {
  from{-moz-transform: rotate(0deg);}
  to{-moz-transform: rotate(360deg);}
}
@keyframes spin{
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}

#hexContainer1{
  -webkit-animation: spin 25s linear infinite alternate;
  -moz-animation: spin 25s linear infinite alternate;
  animation: spin 25s infinite alternate;
}

#hexContainer2{
  -webkit-animation: spin 35s linear infinite alternate;
  -moz-animation: spin 35s linear infinite alternate;
  animation: spin 35s infinite alternate;
}

#hexContainer3{
  -webkit-animation: spin 20s linear infinite alternate;
  -moz-animation: spin 20s linear infinite alternate;
  animation: spin 20s infinite alternate;
}


@-webkit-keyframes grassShadow{
  from{
    -webkit-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
  }
  to{
    -webkit-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
  }
}

@-webkit-keyframes grassShadow{
  from{
    -webkit-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
  }
  to{
    -webkit-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
  }
}

@-moz-keyframes grassShadow{
  from{
    -webkit-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
  }
  to{
    -webkit-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
  }
}

@keyframes grassShadow{
  from{
    -webkit-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
    box-shadow: inset 80px -80px 10px rgba(0,0,0,0.2);
  }
  to{
    -webkit-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
    box-shadow: inset 80px -40px 0px rgba(0,0,0,0.2);
  }
}

#grass3{
  -webkit-animation: grassShadow 10s linear infinite alternate;
  -moz-animation: grassShadow 10s linear infinite alternate;
  animation: grassShadow 10s linear infinite alternate;
}


@-webkit-keyframes cloud{
  from{
    position: absolute;
    top: 20%;
    left: 50%;
  }
  to{
    position: absolute;
    top: 25%;
    left: 60%;
  }
}

@-moz-keyframes cloud{
  from{
    position: absolute;
    top: 20%;
    left: 50%;
  }
  to{
    position: absolute;
    top: 25%;
    left: 60%;
  }
}

@keyframes cloud{
  from{
    position: absolute;
    top: 20%;
    left: 50%;
  }
  to{
    position: absolute;
    top: 22%;
    left: 60%;
  }
}

#cloud{
  -webkit-animation: cloud 20s linear infinite alternate;
  -moz-animation: cloud 20s linear infinite alternate;
  animation: cloud 20s linear infinite alternate;
}
