
#menu{
  box-shadow: inset 0 -20px 20px 0 rgba(0,0,0,0.3);
}

.menu{
  border-radius: 20px;
}

.navbar.navbar-default{
	background-color:transparent;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

@media only screen and (max-width: 767px){
  .nav.navbar-nav li a{
    background-color: white;
  }
  .nav.navbar-nav{
    border: 2px solid black;
  }
}

.nav.navbar-nav li a{
  color: #000 !important;
  text-shadow: -1px 0px #000;
  font-size: 1vh;
  font-family: 'Permanent Marker', serif;
  -webkit-text-stroke: 1px #deca9a;
}

.nav.navbar-nav li a:hover{
  color: #000 !important;
  text-shadow: -1px 0px #fff;
  font-size: 5vh;
  font-family: 'Permanent Marker', serif;
  -webkit-text-stroke: 1px #fff;
}

@media only screen and (max-width: 767px){
  .nav.navbar-nav li a{
    text-shadow: none;
    -webkit-text-stroke: 0px;
  }
}


.collapse.navbar-collapse{
  background-color: white !important;
}

.navbar-toggle{
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

#navbarCollapse{
  border: none !important;
  outline: none!important;
}

.icon-bar{
  background-color: black !important;
}
