.wrapper{
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-size: cover;
}

.ckContainer{
  height: auto;
  width: 100vw;
  padding:15vh 2vw 5vh 2vw;
  background-color: rgba(255,255,255,0.8);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.canoes img{
  height: 10vh;
}

.kayaks img{
  height: 10vh;
}

.ckItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:2vh 0 2vh 0;
  padding: 1vh 1vw 1vh 1vw;
  background-color: rgba(0,0,0,0.2);
}

.ckItem p {
  margin-top: 1vh;
}


@media only screen and (orientation: portrait){
  .ckItem{
    width: 95%;
    height: auto;
  }
}

@media only screen and (orientation: landscape) and (max-width: 1023px){
  .ckItem{
    width: 95%;
    height: auto;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1024px){
  .ckItem{
    width: 70%;
    height: auto;
  }
}
